html(lang="en")
    head
        title HC_Jam
        
        meta(charset="UTF-8")
        meta(name = "viewport", content = "width = device-width, initial-scale = 1.0, maximum-scale = 1.0, minimum-scale = 1.0, user-scalable = 0, minimal-ui")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        script(type="text/javascript", src="js/phaser.min.js")
        script(type="text/javascript", src="js/game.js")
        script(type="text/javascript").
            var users = !{JSON.stringify(users)};
            var userName = !{JSON.stringify(userName)};
        
    body
        
//- extends layout

//- block content
//-   h1= title
//-   p Welcome to #{title}
